/Test/build/
/Floating_Point/nbproject/private/
/Floating_Point/build/
/Agggretion/nbproject/private/
/Agggretion/build/
/ArrayExam/nbproject/private/
/ArrayExam/build/
/ArrayBMI/nbproject/private/
/ArrayBMI/build/
/Dependency/nbproject/private/
/Dependency/build/
/BookDependency/nbproject/private/