/Test/build/
/Floating_Point/nbproject/private/
/Floating_Point/build/
/Agggretion/nbproject/private/
/Agggretion/build/
/ArrayExam/nbproject/private/
/ArrayExam/build/
/ArrayBMI/nbproject/private/
/ArrayBMI/build/
/Dependency/nbproject/private/
/Dependency/build/
/BookDependency/nbproject/private/
/ShapeInterface/nbproject/private/
/Inheritance/nbproject/private/
/Inheritance/build/
/CustomerSelfProject/build/
/CustomerSelfProject/dist/
/Practice/nbproject/private/
/Trainer/nbproject/private/
/Trainer/build/
/ExamOMidterm/build/
/MidtermLab2017-2/CourseStudent/build/
/MidtermLab2017-2/CourseStudent/nbproject/private/
/MidtermLab2017-2/DeckProject/nbproject/private/
/MidtermLab2017-2/SmartPhone/build/
/MidtermLab2017-2/SmartPhone/nbproject/private/
/MidtermLab2017-2/SmartTVScreen/nbproject/private/
/iTrackApplication/nbproject/private/
/CarforRent/nbproject/private/
/BANKCAR/nbproject/private/
/SITStudent/nbproject/private/
/LabTestinClassRoom/SelfDoor/build/
/LabTestinClassRoom/SelfDoor/nbproject/private/
/TourSiam/nbproject/private/