/Test/build/
/Test/dist/
/ArrayLear/nbproject/private/
/ArrayLear/build/
/LearArray/nbproject/private/
/LearArray/build/
/Answer/nbproject/private/
/Answer/build/
/ArrayOfBank/nbproject/private/
/ArrayOfBank/build/
/instance/nbproject/private/
/instance/build/